body{
	background-image:url(https://www.thecandychef.com/i/2018/09/architecte-interieur-bar-chatelet-lhyperbol-privatiser-gratuitement-sur-privateaser-biere-vin-ongle-opi-ongles-les-halles-chicha-cereale-bars-tapas-930x535.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}